server:
  port: 7901

spring:
  application:
    name: songmm-feign-consumer
  cloud:
    config:
      name: eureka_client,jpa
      profile: dev
      label: master
      uri: http://localhost:8760/
      fail-fast: true
      discovery:
        enabled: true # 表示开启通过服务名来访问config-server
        service-id: config-server # 表示注册中心config-server的服务名
feign:
  hystrix:
    enabled: true
hystrix:
  command:
    HelloFeignService#get():
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 500
      circuitBreaker:
        requestVolumeThreshold: 3
        sleepWindowInMilliseconds: 1000
        
        
